<!doctype html>
<html lang="en">
    <head>
        <title>Unrivaled Fate - Home</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/jyx5rur.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto w-100 text-center">
                            <li class="nav-item w-25 mx-auto">
                            <a class="nav-link hover-underline" href="index.html">Home</a>
                            </li>
                            <li class="nav-item w-2 mx-auto5">
                            <a class="nav-link hover-underline" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="nav-item w-25 mx-auto">
                            <a class="nav-link hover-underline active" aria-current="page" href="#"><b>Developers</b></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div id="app">
                <h1 class="text-center">Owner</h1>

                <div class="row justify-content-center p-2">
                    <template v-for="(item, index) in items" :key="index">
                        <div class="col-md-4 mb-3" v-if="item['Community Role'].toLowerCase() === 'owner'">
                            <div class="dev-card row m-2" @click="selectDeveloper(index)" data-bs-toggle="modal" data-bs-target="#devModal" style="cursor: pointer; height: 100px;">
                                <div class="avatar col-3" :style="{ backgroundImage: 'url(' + getProfileImageUrl(item) + ')', backgroundSize: 'contain' }"></div>
                                <div class="col-9">

                                    <!-- Username -->
                                    <h3 class="dev-name mb-0">{{ item.Dev }}</h3>

                                    <small class="dev-role mt-0">{{ item.Role || item.role || 'Role' }}</small>

                                    <!-- Hiatus Badge -->
                                    <span v-if="item.Hiatus === 'TRUE'" class="badge hiatus-badge">Hiatus</span>

                                </div>
                            </div>
                        </div>
                    </template>
                </div>

                <h1 class="text-center">Developers</h1>

                <div class="row justify-content-center p-2">
                    <template v-for="(item, index) in items" :key="index">
                        <div class="col-md-4 mb-3" v-if="item.Dev && item['Community Role'].toLowerCase() !== 'owner' && item.Hiatus === 'FALSE'">
                            <div class="dev-card row m-2" @click="selectDeveloper(index)" data-bs-toggle="modal" data-bs-target="#devModal" style="cursor: pointer; height: 100px;">
                                <div class="avatar col-3" :style="{ backgroundImage: 'url(' + getProfileImageUrl(item) + ')', backgroundSize: 'contain' }"></div>
                                <div class="col-9">
                                    <h3 class="dev-name mb-0">{{ item.Dev }}</h3>
                                    
                                    <small class="dev-role mt-0">{{ item.Role || item.role || 'Role' }}</small>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>

                <h1 class="text-center">Hiatus</h1>

                <div class="row justify-content-center p-2">
                    <template v-for="(item, index) in items" :key="index">
                        <div class="col-md-4 mb-3" v-if="item.Dev && item['Community Role'].toLowerCase() !== 'owner' && item.Hiatus === 'TRUE'">
                            <div class="dev-card row m-2" @click="selectDeveloper(index)" data-bs-toggle="modal" data-bs-target="#devModal" style="cursor: pointer; height: 100px;">
                                <div class="avatar col-3" :style="{ backgroundImage: 'url(' + getProfileImageUrl(item) + ')', backgroundSize: 'contain' }"></div>
                                <div class="col-9">
                                    <h3 class="dev-name mb-0">{{ item.Dev }}</h3>
                                    
                                    <small class="dev-role mt-0">{{ item.Role || item.role || 'Role' }}</small>
                                    <!-- Hiatus Badge -->
                                    <span class="badge hiatus-badge">Hiatus</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>

                <!-- Modal -->
                 <div class="modal" id="devModal" tabindex="-1">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title">{{ selectedItem.Dev }}</h1>
                                <!-- Close Button -->
                            <button type="button" class="btn-close d-none d-md-block" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <!-- Text Info -->
                                 <div class="col-md-5">
                                    <div class="row">
                                        <div class="big-avatar col-6 col-md-12"
                                            :style="{ backgroundImage: 'url(' + profileImage + ')', backgroundRepeat: 'no-repeat'}"
                                        ></div>
                                        <div class="col-6 col-md-12">
                                            <h2><u>Contacts</u></h2>
                                            <p>{{ selectedItem.Contacts }}</p>
                                        </div>
                                    </div>
                                 </div>

                                <!-- Gallery -->
                                 <div class="col-md-7" style="max-height: 350px; overflow-y: auto;">

                                    <!-- Static Gallery -->
                                    <div class="row g-3 d-none d-md-flex" v-if="galleryImages.length">
                                        <div class="col-6 mx-auto" v-for="(image, index) in galleryImages" :key="index">
                                            <img :src="image" class="d-block w-100" :alt="`Gallery image ${index}`">
                                        </div>
                                    </div>
                                    <div v-else class="text-muted">No gallery images available for this developer.</div>

                                    <!-- Carousel Gallery -->
                                         <div id="carouselExampleIndicators" class="carousel slide d-md-none" v-if="galleryImages.length">
                                            <div class="carousel-indicators">
                                                <button type="button" v-for="(image, index) in galleryImages" :key="index" data-bs-target="#carouselExampleIndicators" :data-bs-slide-to="index" :class="{ active: index === 0 }" aria-current="true" :aria-label="`Slide ${index + 1}`"></button>
                                            </div>
                                            <div class="carousel-inner">
                                                <div class="carousel-item" v-for="(image, index) in galleryImages" :key="index" :class="{ active: index === 0 }">
                                                <img :src="image" class="d-block w-100" :alt="`Gallery image ${index + 1}`">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                 </div>
                            </div>
                        </div>
                        <div class="modal-footer d-block d-md-none">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
        <script src="devs.js"></script>
    </body>
</html>
