
/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: "zenon-dark", sans-serif
}

main {
    font-family: "baga", sans-serif;
}

/* Colors */
body {
    --main: #2A0C4A;
    --secondary: #57FF41;
    --text-light: #dbffd7;
    --gradient1: #8B44C2;
    --gradient2: #5634BC
}

/* Styling */
html {
    scrollbar-width: none;
}

nav {
    font-family: "zenon-dark", sans-serif;
    background-color: var(--main);
    color: var(--secondary)
}

nav a {
    color: var(--secondary)!important;
    font-size: 1.5em!important;
    transition: .5s!important;
}

nav a:hover {
    text-shadow: var(--secondary) 0 0 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.navbar-toggler {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%232A0C4A' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='m4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.studio-name {
    min-height: 200px;
    font-size: 5em;
    color: var(--text-light);
    animation-name: myAnimation;
    animation-duration: 1s;
}

body {
    background: linear-gradient(to top, var(--main), var(--main), #000);
    background-size: cover!important;
    background-repeat: no-repeat!important;
    color: var(--text-light);
}

.unbacked {
    color: var(--text-light);
}

.unbacked a {
    color: var(--text-light);
    text-decoration: none;
    transition: .5s;
}

.unbacked a:hover {
    color: var(--secondary);
    text-shadow: var(--secondary) 0 0 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.modal-content {
    background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
    border: none;
    border-radius: 0;
}
/* -Sub: Portfolio Gallery */
.gallery-item {
    border: var(--secondary) double 4px;
    margin: 20px;
    transition: .5s
}

.gallery-item:hover {
    border: var(--secondary) double 1px;
    box-shadow: 10px 10px 0px var(--text-light);
    transform: scale(1.05);
}

/* -Sub: Dev Cards */
.dev-card {
    background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
    border: var(--secondary) solid 4px;
    transition: .5s;
    height: 171px
}

.avatar {
    background-repeat: no-repeat!important;
}

.big-avatar {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat!important;
    height: 200px;
}

/* Style Imports */
.hover-underline{
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--secondary), var(--text-light));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

/* Animations */
@keyframes myAnimation {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}