
/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: "zenon-dark", sans-serif
}

/* Colors */
body {
    --main: #2A0C4A;
    --secondary: #57FF41
}

/* Styling */
main {
    font-family: "baga", sans-serif;
}

nav {
    font-family: "baga", sans-serif;
    background-color: var(--main);
    color: var(--secondary)
}

nav a {
    color: var(--secondary)!important;
}

nav a {
    transition: 2s;
}

nav a:hover {
    text-shadow: var(--secondary) 0 0 10px;
}