
/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: "zenon-dark", sans-serif
}

main {
    font-family: "baga", sans-serif;
}

/* Colors */
body {
    --main: #2A0C4A;
    --secondary: #57FF41;
    --text-light: #dbffd7
}

/* Styling */
nav {
    font-family: "zenon-dark", sans-serif;
    background-color: var(--main);
    color: var(--secondary)
}

nav a {
    color: var(--secondary)!important;
    font-size: 1.5em!important;
    transition: .5s!important;
}

nav a:hover {
    text-shadow: var(--secondary) 0 0 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.studio-name {
    min-height: 200px;
    font-size: 5em;
    color: var(--text-light);
}

body {
    background: linear-gradient(to top, var(--main), var(--main), #000);
    background-size: cover!important;
    background-repeat: no-repeat!important
}

.unbacked {
    color: var(--text-light);
}

.unbacked a {
    color: var(--text-light);
    text-decoration: none;
    transition: .5s;
}

.unbacked a:hover {
    color: var(--secondary);
    text-shadow: var(--secondary) 0 0 10px;
    letter-spacing: 2px;
    font-weight: bold;
}